@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: system-ui;
    color: #EEE,
}

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 1px black;
    }
}

.pdf-margin {
    margin-bottom: 10px !important;
  }